* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 20%;
    border: 2px solid black;
}

.grid-item-hover {
    background-color: black;
}

#resize-btn {
    
}