* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --costume-blue: rgb(9, 9, 92);
}

body {
    height: 100vh;
    margin: 0 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-image: url(images/background-blue.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    padding-bottom: 20px;
}

.main {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--costume-blue);
    width: 100%;
    max-width: 550px;
    margin: 15px 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 8px;
    margin: 0 auto 0 auto;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.empty-container, .settings{
    width: 20%;
}

.grid-item-hover {
    background-color: rgb(2, 8, 48);
}

#title {
    font-size: 60px;
    color: var(--costume-blue);
    text-align: center;
}

.settings > button {
    padding: 5px;
    font-size: 22px;
    border: 1px solid var(--costume-blue);
    border-radius: 5px;
    background-color: rgb(215, 218, 220);
    color:rgb(0, 0, 77);
    width: 140px;
    cursor: pointer;
}

